<div class="container-fluid">

	<!--<div class="treeslider"> 

		<div class="treecontent"> -->
			<div class="hide title"><%= @title %></div>
			<div id="GA-Event-Action" class="hide">M<%= @current_module.number %>-<%= @current_lesson.navigation_title %></div>
			<!-- Example row of columns -->
				<% prev_url  = !@current_lesson.previous.nil? ? @current_lesson.previous : nil %>
				<% next_url =  !@current_lesson.next.nil? ?  @current_lesson.next : nil %>
		
			<ul class="pager">
		
				<li class="previous">
				<a href="<%= !prev_url.nil? ? create_url(prev_url) : lesson_path %>" class="btn previous <% if prev_url.nil? %>disabled<% end %>">&larr; Previous</a>
				</li>
				<li class="next">
				<a href="<%= !next_url.nil? ? create_url(next_url) : lesson_path %>" class="btn <% if next_url.nil? %>disabled<% end %>">Next &rarr;</a>
				</li>
			</ul>

			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
						<li class="active">
						<%= link_to "Rails Basic Course", lesson_path() %>
						<a class="divider">/</a>
						</li>
						<li><%= @current_module.number%>. <%= @current_module.navigation_title %><a class="divider">/</a></li>
						<li><%= @current_lesson.number%>. <%= @current_lesson.navigation_title %></li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<h4>Module <%= @current_module.number %> - Lesson <%= @current_lesson.number %></h4>
					<h1><%= @current_lesson.name %></h1>


					<%= render :partial => 'ruby-on-rails/' + @current_lesson.lesson_path, :locals => {:module_no => @module_no, :lesson_no => @lesson_no} %>

				</div>
				
			</div>

	

			
			<ul class="pager">
		
				<li class="previous">
				<a href="<%= !prev_url.nil? ? create_url(prev_url) : lesson_path %>" class="btn previous <% if prev_url.nil? %>disabled<% end %>">&larr; Previous</a>
				</li>
				<li class="next">
				<a href="<%= !next_url.nil? ? create_url(next_url) : '#' %>" class="btn <% if next_url.nil? %>disabled<% end %>">Next &rarr;</a>
				</li>
			</ul>
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
						<li class="active">
						<%= link_to "Rails Basic Course", lesson_path() %>
						<a class="divider">/</a>
						</li>
						<li><%= @current_module.number%>. <%= @current_module.navigation_title %><a class="divider">/</a></li>
						<li><%= @current_lesson.number%>. <%= @current_lesson.navigation_title %></li>
					</ul>
				</div>
		<!--	</div>	
</div> -->
	</div>
</div><!-- container -->
